In [3]:
#import the pandas library
import pandas as pd

#import the numpy library
import numpy as np

In [5]:
#read the csv file as a pandas dataframe
bikes = pd.read_csv("K:/01_Projects/London Bike Sharing/london_merged.csv")

In [6]:
#explore the data
bikes.info

<bound method DataFrame.info of                  timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]>

In [13]:
#shape of the data
bikes.shape

(17414, 10)

In [11]:
#count unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [14]:
#specifying custom column names
new_cols_dict = {
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'real_temp_C',
    't2' : 'feels_temp_C',
    'hum' : 'humidity_percent',
    'wind-speed' : 'wind_speed_kph',
    'weather_code' : 'weather',
    'is_holiday' : 'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'season'
}

#renaming original column names to custom column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [16]:
#changing the humidity values to percentage
bikes.humidity_percent = bikes.humidity_percent/100

In [17]:
#creating season dictionary by assigning integers to seasons in order to map values
season_dict = {
    '0.0' : 'spring',
    '1.0' : 'summer',
    '2.0' : 'autumn',
    '3.0' : 'winter'

}

#creating weather dictionary by assigning integers to seasons in order to map values
weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0' : 'Snowfall'
}

#changing the seasons column data type to string
bikes.season = bikes.season.astype('str')

#mapping the values 0-3 to the written seasons
bikes.season = bikes.season.map(season_dict)

#changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')

#mapping the values to the written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [19]:
#checking the dataframe to see if the mapping have worked
bikes.head()

,time,count,real_temp_C,feels_temp_C,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [23]:
#writing the final dataframe to an excel file for tableau visualization named "london_bikes_final"
bikes.to_excel('london_bikes_final.xlsx', sheet_name = 'Data')